<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{common/meta :: meta}"></th:block>
        <th:block th:replace="~{common/styles :: styles}"></th:block>
        <link rel="stylesheet" th:href="@{/assets/datatables/css/datatables.min.css}">

        <title>Receipt Scanner</title>
    </head>
    <body>
        <th:block th:replace="~{common/header :: header}"></th:block>

        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col">
                    <h4>
                        <span class="fa-classic fa-solid fa-file-invoice-dollar fa-fw"></span>
                        Receipts
                    </h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <receipts-table></receipts-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/footer :: footer}"></th:block>
        <th:block th:replace="~{common/scripts :: scripts}"></th:block>
        <script th:src="@{/assets/datatables/js/datatables.min.js}"></script>
        <script th:src="@{/assets/view/receipt/js/index.js}" type="module"></script>
    </body>
</html>