<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{common/meta :: meta}"></th:block>
        <th:block th:replace="~{common/styles :: styles}"></th:block>
        <link rel="stylesheet" th:href="@{/assets/filepond/css/filepond.min.css}"></link>

        <title>Receipt Scanner</title>
    </head>
    <body>
        <th:block th:replace="~{common/header :: header}"></th:block>

        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col">
                    <h4>
                        <span class="fa-classic fa-solid fa-file-arrow-up fa-fw"></span>
                        Upload Receipts
                    </h4>
                </div>
                <div class="col text-end">
                    <a class="btn btn-sm btn-dark" th:href="@{/app/receipts}" type="button">
                        <span class="fa-classic fa-solid fa-chevron-left fa-fw"></span>
                        Return
                    </a>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <receipts-upload></receipts-upload>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/footer :: footer}"></th:block>
        <th:block th:replace="~{common/scripts :: scripts}"></th:block>
        <script th:src="@{/assets/filepond/js/filepond.min.js}"></script>
        <script th:src="@{/assets/filepond/js/filepond-filetype.min.js}"></script>
        <script th:src="@{/assets/view/receipt/js/upload.js}" type="module"></script>
    </body>
</html>